.btn {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-warning {
  display: flex;
  width: 120px;
  height: 55px;
  border-radius: 39px;
  background-color: white;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  color: #242331;
}

.btn-info {
  display: flex;
  width: 140px;
  height: 55px;
  border-radius: 39px;
  background-color: #5236ff;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.btn-info2 {
  display: flex;
  width: 170px;
  height: 55px;
  border-radius: 39px;
  background-color: #f4f4f4;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  text-align: end;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 15px;
  color: #242331;
}

.btn-info3 {
  width: 120px;
  height: 55px;
  border-radius: 39px;
  background-color: #efecff;
  border: none;
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: #5236ff;
}

.btn-menu {
  width: 300px;
  height: 55px;
  border-radius: 15px;
  background-color: #efecff;
  border: none;
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.btn-menu:hover {
  background: #5236ff;
  color: #fff;
}

.btn-dark-button {
  width: 120px;
  height: 45px;
  border-radius: 39px;
  background-color: black;
  border: none;
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: white;
}

.img-logo {
  width: 70px;
}

@media screen and (max-width: 576px) {
  .btn-menu {
    left: 4%;
  }
}
