.wrappers {
  margin-top: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
}

.wrapper-bottom {
  width: 75%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.content-footer-feature {
  width: 30%;
}

@media screen and (max-width: 576px) {
  .container-features {
    margin-top: -10rem;
  }
  .wrappers {
    margin-top: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper-top {
    margin-bottom: 3rem;
  }

  .content-footer {
    padding-bottom: 1rem;
    width: 80%;
  }

  .content-footer-feature {
    position: relative;
    margin-bottom: 3rem;
  }
}
